<div class="section {% if include.size == "big" %}section-big{% else %}section-small{% endif %}">
    {% assign header_type = "h1" %}
    {%- if include.size == "small" -%}
        {% assign header_type = "h2" %}
    {%- endif -%}

    <{{ header_type }} class="section-heading" id="{{ include.heading | slugify }}">
        {{ include.heading }}
    </{{ header_type }}>

    <div class="content">
        {{ include.content | markdownify }} 
    </div>
</div>