{%- comment -%}
This component defines how to render the data about a user in various places on the page.

@param  user:   This property defines the user-file this component should be rendered for
        values: jekyll user-file @see formats.md

@param  show_roles: This property defines which roles should be shown
        values:     "" | "all" | any type defined in roles.yml

@param  size:   This property defines the size of certain parts (avatar + username)
        values: "small" | "regular" | "big"

@param  type:   This property defines where URLs should lead
        values: "osu" | "compendium"
                "osu"           => osu! profile
                "compendium"    => compendium profile
{%- endcomment -%}

{%- assign user_link = include.user.user_id -%}
{%- if include.type == 'osu' -%}
    {%- assign user_link = user_link | prepend: "https://osu.ppy.sh/users/" -%}
{%- elsif include.type == "compendium" -%}
    {%- assign user_link = user_link | prepend: "/authors/" -%}
{%- endif -%}

<div class="user user--{{ include.size }}">
    <a href="{{ user_link }}" class="user__avatar-wrapper">
        <img class="user__avatar" src="https://a.ppy.sh/{{ include.user.user_id }}">
    </a>
    <div class="user__information">
        <a href="{{ user_link }}" class="user__username">
            {{ include.user.user_name }}
        </a>
        <div class="user__roles">
            {%- for role in include.user.roles %}
                {%- assign role_data = site.data.roles[role.id] -%}
                {% if include.show_roles == "all" or role_data.type == include.show_roles %}
                    {% include user__role-badge.html role=role %}
                {% endif %}
            {%- endfor -%}
        </div>
    </div>
</div>