{%- assign role_url = "" -%}
{%- assign role_data = site.data.roles[include.role.id] -%}

{%- if role_data.type == "contest" -%}
    {%- assign role_url = "/contests/" | append: include.role.modifier -%}
{%- elsif role_data.type == "soty" -%}
    {%- assign role_url = "/contests/skin-of-the-year-" | append: include.role.modifier -%}
{%- endif -%}

{%- assign role_name = role_data.name | replace: "$", include.role.modifier -%}

{%- if role_url == "" -%}
    <span class="role role--{{- role_data.class -}}">{{- role_name -}}</span>
{%- else -%}
    <a class="role role--{{- role_data.class -}}" href="{{- role_url -}}">{{- role_name -}}</a>
{%- endif -%}
