---
layout: master
title: Skin Submission | compendium
description: How to submit your skin to the Compendium
highlight: submission
---

<div class="submission">
    <h1 class="heading">How to submit a skin to this site?</h1>
    <p>
        Simply fill out the form below to submit your skin to the compendium. Only skin name, forum link and cover link are required, but any extra information helps us out to add the skin more
        quickly!
        <br>
        Once a skin is checked, it will be moved into the <a href="https://osu.ppy.sh/community/forums/109">completed skins subforum</a> and added to the compendium.
    </p>
    <h1 class="heading">Requirements</h1>
    <ul>
        A skin...
        <li>...should not break the <a href="https://osu.ppy.sh/community/forums/topics/318193">forum rules</a>.</li>
        <li>...should have one gamemode and the menu skinned.</li>
        <li>...shouldn't have any easily fixable bugs.</li>
        <li>...shouldn't have any obvious editing mistakes.</li>
    </ul>
    <h1 class="heading">Submission Form</h1>
    <p>If the below content does not display, or you want to open the form in a new tab please click <a target="_blank" href="https://forms.gle/nfR3pWBfyzr84t3W9">here</a>.</p>
    <details>
        <summary></summary>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe0paKR5l9wo3WAkyLzLsjg4sfjFK-TLhFzNaqziTsm6CX-0Q/viewform?embedded=true" id="form">Loading…</iframe>
    </details>
    <h1 class="heading">Responses</h1>
    <p>
        If the below content does not display, or you want to open the sheet in a new tab please click
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1rOmiK2FQFJwPURa1SfSqU9H_zx6QApW-_rxxjVfqjf0/edit?usp=sharing">here</a>.
    </p>
    <details>
        <summary></summary>
        <iframe
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThVl7VyZ0QgdKk5jzvY_k3sGY4id3bp4eydPHVqb2m0fCXum2M7FfMuhTl4Hjji4frr_RR0NZENOR1/pubhtml?gid=1724456496&amp;single=true&amp;widget=true&amp;headers=false"
            id="sheet"
        ></iframe>
    </details>
</div>
