$contest-winner: linear-gradient(90deg, #FFB053 0%, #FFDC60 100%);
$contest-second: linear-gradient(90deg, #FFFFFF 0%, #D8CBF4 100%);
$contest-third: linear-gradient(90deg, #F2A46C 0%, #FD8A36 100%);
$administrator: #FF3C5F;
$skinship-staff: linear-gradient(90deg, #3DADFF 0%, #2664C0 100%);
$helper: #CC3CFF;
$skinners-bulletin: linear-gradient(90deg, #59f2f6 0%, #f87eec 100%);
$soty-winner: $contest-winner;
$soty-second: $contest-second;
$soty-third: $contest-third;
$soty-top10: linear-gradient(90deg, #cc8335 0%, #ffe871 100%);
$text-colour-dark: rgba(36, 36, 36, 0.8);
