.data-overview {
    border-collapse: collapse;
    thead {
        background-color: $primary;
        border-bottom: 1px solid lighten($primary, 6%);
    }
    tr {
        border-bottom: 1px solid lighten($primary, 3%);
    }
    th {
        &.resolutions {
            width: 70px;
        }
        &.ratios {
            width: 100px;
        }
        &.game-modes {
            // dont ask me why it wants 82px instead of 80px
            width: 82px;
        }
    }
    td {
        padding: 5px 1px;
        &.warning {
            background-color: rgba(255, 0, 0, 0.2);
        }
    }
    .main-header {
        th {
            position: sticky;
            top: 52px;
            background-color: $primary;
        }
    }
    .page {
        .item {
            display: inline-flex;
            padding: 4px 6px;
            background-color: $divider;
            border-radius: $radius;
            color: $text-colour;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            text-transform: capitalize;
            margin: 2px 0;
        }
    }
    .icon {
        width: 20px;
        height: 20px;
    }
}

.column-select {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
    &__heading {
        padding: 8px;
        border-bottom: 1px solid $divider;
    }
    &__item {
        cursor: pointer;
        padding: 0 16px;
    }
}
