.form {
    display: grid;
    // grid-area assignment happens on a JS level
    &--add {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "cover  name        link"
            "cover  tags        authors"
            "cover  gamemodes   categories"
            "cover  gamemodes   resolutions";
        gap: 16px;
        @include grid-area(input-group--link, link);
        @include grid-area(input-group--name, name);
        @include grid-area(input-group--cover, cover);
        @include grid-area(input-group--authors, authors);
        @include grid-area(input-group--gamemodes, gamemodes);
        @include grid-area(input-group--resolutions, resolutions);
        @include grid-area(input-group--categories, categories);
    }
    
    hr,
    .variant-input {
        grid-column: span 3;
    }
}

.cover-input {
    background-color: $primary-80;
    border-radius: $radius;
    background-position: center;
    background-size: cover;
    transition: ease 250ms all;
    overflow: hidden;
    .icon {
        width: 32px;
        height: 32px;
    }
    .ratio-16-9__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $text-colour-muted;
    }
    input[type="file"] {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 3;
    }
    &.image-selected {
        .ratio-16-9__container {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    &:hover {
        filter: brightness(1.2);
    }
}

.checkbox-label {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 4px;
    input[type="checkbox"] {
        order: -1;
    }
}

input[type="checkbox"] {
    appearance: none;
    border: 1px solid $accent-blue;
    border-radius: 4px;
    height: 1em;
    width: 1em;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: ease 200ms all;
    background-color: $primary-80;
    &:hover {
        outline-color: $accent-yellow;
    }
    &:checked {
        background-color: $accent-blue;
    }
}

.input-group {
    display: flex;
    gap: 4px;
    flex-direction: column;
    &__label {
        font-weight: 600;
        color: $accent-blue;
    }
    &__elements {
        & > * {
            width: 100%;
        }
    }
}

.game-mode-selector {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__entry {
        transition: ease 250ms all;
        align-items: center;
        display: flex;
        gap: inherit;
        font-size: 16px;
        color: $text-colour-muted;
        cursor: pointer;
        user-select: none;
        .icon {
            width: 24px;
            height: 24px;
        }
        &:hover {
            color: $text-colour;
        }
        &.include {
            color: $accent-blue;
        }
    }
}
