#gacha-root {
    $rarity-3: grey;
    $rarity-4: plum;
    $rarity-5: orange;
    user-select: none;
    max-width: var(--content-width);
    .coin-purse {
        display: flex;
        align-items: center;
        gap: 8px;
        &__img {
            width: 20px;
            margin-left: auto;
        }
        &__label {
            font-size: 24px;
            font-weight: 500;
            color: $accent-yellow;
            margin-right: auto;
        }
    }

    .banner-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__title {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-stats {
                display: flex;
                flex-direction: column;
                margin-left: auto;
            }

            &-label {
                font-size: 30px;
                font-weight: 900;
                color: $accent-blue;
            }
            &-pity-label {
                &--4 {
                    color: $rarity-4;
                }
                &--5 {
                    color: $rarity-5;
                }
            }
        }
    }

    .main-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 24px;
            color: $accent-blue;
            font-weight: 700;
            &-legend {
                font-size: 12px;
                color: $text-colour-muted;
            }
        }
    }

    .banner-selector-item {
        width: 100%;
        background-color: $primary;
        padding: 16px;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        border-radius: $radius;
        transition: ease all 250ms;
        overflow: hidden;
        cursor: pointer;
        gap: 4px;

        position: relative;
        z-index: 0;

        &__name {
            color: white;
            margin-right: auto;
            text-shadow: black 3px 3px 4px;
        }
        &__pity-4,
        &__pity-5,
        &__total {
            font-weight: 500;
            min-width: 1em;
        }
        &__pity-4 {
            color: $rarity-4;
        }
        &__pity-5 {
            color: $rarity-5;
        }

        &__cover {
            position: absolute;
            left: 0;
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
            z-index: -1;
        }

        &:hover {
            background-color: $primary-hover;
        }
    }

    .skin-preview {
        &-label {
            font-size: 24px;
            color: $accent-blue;
            padding-left: 8px;
            font-weight: 700;
        }
        &-list {
            display: flex;
            overflow-x: scroll;
            gap: 16px;
            padding: 8px;
            scrollbar-width: thin;
        }
        &-item {
            display: flex;
            flex-direction: column;
            flex: none;
            background-color: $primary;
            border-radius: $radius;
            max-width: 320px;
            color: $text-colour;

            &__cover {
                width: 320px;
                height: 180px;
                border-radius: $radius;
            }
            &__title,
            &__author {
                padding: 4px 8px;
            }
            &__title {
                display: flex;
                font-size: 16px;
                font-weight: 700;
                gap: 4px;

                span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .icon {
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    min-height: 20px;
                    &.standard {
                        order: 1;
                    }
                    &.taiko {
                        order: 2;
                    }
                    &.catch {
                        order: 3;
                    }
                    &.mania {
                        order: 4;
                    }
                    &:first-of-type {
                        margin-left: auto;
                    }
                }
            }
            &__author {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
            }
        }

        border-left: 4px solid $rarity-3;
        &--4 {
            border-left-color: $rarity-4;
        }
        &--5 {
            border-left-color: $rarity-5;
        }
    }

    .skin-item {
        word-wrap: anywhere;
        &--rarity {
            &-4 {
                box-shadow: $rarity-4 2px 2px 12px;
            }
            &-5 {
                animation-duration: 5s;
                box-shadow: $rarity-5 2px 2px 16px;
            }
        }
    }

    .skin-collection {
        display: flex;
        gap: 8px;
        flex-direction: column;
        .skin-grid {
            grid-template-columns: repeat(5, 1fr);
        }
        .skin-item {
            $root: &;
            &:hover {
                border-radius: $radius !important;
            }
            &__tags-list-container,
            .information-seperator,
            .resolution,
            &__cover-versions {
                display: none !important;
            }

            &--not-owned {
                pointer-events: none;
                .skin-item__cover {
                    .cover {
                        visibility: hidden;
                    }
                    background: rgba(0, 0, 0, 0.3);
                    &:after {
                        content: "?";
                        font-size: 24px;
                        color: $text-colour-muted;
                        display: block;
                        position: absolute;
                        left: calc(50% - 0.5ex);
                        top: 50%;
                    }
                }
            }
        }
        &__header {
            font-size: 48px;
            margin: auto;
        }

        &__section-label,
        &__header {
            font-size: 30px;
            color: $accent-blue;
            font-weight: 700;
            padding: 8px 0px;
        }
    }
}

@media (max-width: 1200px) {
    .skin-collection .skin-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
@media (max-width: 1050px) {
    .skin-collection .skin-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media (max-width: 900px) {
    .skin-collection .skin-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (max-width: 600px) {
    .skin-collection .skin-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.coin-popup {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    padding: 4px;
    z-index: 100000;
    user-select: none;

    &__coin {
        width: 24px;
        height: 28px;
    }
    &__label {
        color: $text-colour-muted;
    }
}
