.skin {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "title 		title 		title		title"
        "gallery 	gallery		gallery 	information";

    @include grid-area(title, title);
    @include grid-area(gallery, gallery);
    @include grid-area(information, information);

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .left {
            display: flex;
            gap: 16px;
            align-items: center;
            .skin-name {
                color: $accent-blue;
                font-size: 24px;
                font-weight: 700;
            }
            .game-modes {
                display: flex;
                align-items: center;
                gap: 4px;
                .icon {
                    width: 28px;
                    height: 28px;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-items: flex-end;
        }
    }

    .skin-information {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &__authors {
            h1 {
                font-size: 16px;
            }
            .user {
                margin-top: 8px;
            }
        }
        &__links {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

@media (max-width: 900px) {
    .skin {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        grid-template-areas:
            "title"
            "gallery"
            "information"
            "versions";
    }
    .gallery {
        .caroussel {
            grid-template-columns: repeat(5, 1fr);
            margin-top: 8px;
            gap: 8px;
        }
    }
}

@media (max-width: 600px) {
    .gallery {
        .caroussel {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (max-width: 300px) {
    .gallery {
        .caroussel {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
