---
layout: master
---

<script src={{ "/assets/scripts/2024-april-fools.js" | timestamp }} type="text/javascript"></script>

<noscript class="noscript">
    <div class="noscript">
        This page does not function without enabling javascript.
    </div>
</noscript>

<div id="gacha-root"></div>

<div>
    This is the skinship April Fools joke for 2024, where the majority of the website was replaced by a gacha:
    <ul>
        <li>There is a 10% chance to get a 4* rarity skin</li>
        <li>There is a 2% chance to get a 5* rarity skin</li>
        <li>4* pity: After getting no 4* or better for 9 pulls the 10th one is guaranteed to be of 4* rarity or higher</li>
        <li>5* pity: After getting no 5* or better for 49 pulls the 50th one is guaranteed to be of 5* rarity</li>
        <li>4* rarity are skins of the following categories: contest submissions, skin of the year top 10, skinners' bulletin showcase</li>
        <li>5* rarity are skins of the following categories: contest top 3, skin of the year top 3</li>
        <li>You get coins for interacting with the website and in regular intervals for having the page open</li>
        <li>All data is saved locally in your browser</li>
    </ul>
</div>
