---
layout: master
---
<script id="json-collection">
    {
        "name": {{ page.skin_name | jsonify }},
        "variants": {{ page.skin_collection | jsonify }},
        "videos": {{ page.videos | jsonify }}
    }
</script>
<script src={{ "/assets/scripts/gallery.js" | timestamp }}></script>
<div class="skin {% if page.skin_collection.size > 1 %}collection{% endif %}">
    <div class="title">
        <div class="left">
            <span class="skin-name">{{page.skin_name}}</span>
            <div class="game-modes">
                {%- for game_mode in page.game_modes -%}
                    {%- include icons/{{ game_mode }}.svg -%}
                {%- endfor -%}
            </div>
        </div>
        <div class="right">
            <span class="date">Released: {{ page.date | date_to_long_string: "ordinal" }}</span>
            <span class="date">Added to Compendium: {{ page.date_added | date_to_long_string: "ordinal" }}</span>
        </div>
    </div>
    <div class="gallery main-gallery">
        <div class="main-gallery__main-preview-container">
            <img class="main-gallery__main-preview" src="{{ page.skin_collection[0].screenshots[0] }}">
        </div>
        <div class="caroussel">
            {%- for image in page.skin_collection[0].screenshots -%}
                <div class="caroussel__item {% if forloop.first == true -%} active{%- endif -%}">
                    <img src="{{ image }}" class="caroussel__image">
                </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="skin-information">
        {%- if page.skin_collection.size > 1 -%}
            <div id="collection-selector" class="icon-input-container icon-input-container--right-align">
                <select class="skin-selector">
                    {%- for skin in page.skin_collection -%}
                        <option value="{{ forloop.index0 }}" class="skin-selector-item">{{ skin.name }}</option>
                    {%- endfor -%}
                </select>
                {%- include icons/chevron-down.svg -%}
            </div>
        {%- endif -%}
        <div class="skin-information__links">
            {% assign forum_link = "https://osu.ppy.sh/community/forums/topics/" |append: page.forum_thread_id %}
            {% assign report_link = "https://docs.google.com/forms/d/e/1FAIpQLSegUFhnI863fz5I7qe8rRtT4Df1RTSJzCHtm1mOPWXWFYCCjQ/viewform?usp=pp_url&entry.2027905951=skin_id&entry.1955071344=skin_url" | replace: "skin_id", page.forum_thread_id | replace: "skin_url", page.url%}
            {%-include button.html url=forum_link icon="link" text="Go to forum post" -%}
            {%-include button.html url=report_link icon="warning" text="Report issue" type="secondary" -%}
        </div>

        <div class="skin-information__tags tags-list">
            {% include tags.html post=page %}
        </div>

        <div class="skin-information__authors">
            <h1 class="heading creators">Created by</h1>
            <span>To see more from these creators visit their profile!</span>
            {%- for author_id in page.author -%}
                {%- assign author_file = author_id | get_author_file -%}
                {%- include user.html user=author_file type="compendium" size="small" show_roles="false" -%}
            {%- endfor -%}
        </div>
    </div>
</div>
