.filters {
    padding: 12px;
    background-color: $primary;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    transition: ease all 250ms;
    .filter-groups {
        display: grid;
        gap: 8px;
        margin-top: 0;
        transition: ease all 250ms;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "order  order  order    date        date    game-modes"
            "tags   tags   ratio    resolutions count   game-modes";
        &-container {
            margin-top: 8px; //needs to be same as gap
            transition: ease all 250ms;
            overflow: hidden;
            width: 100%;
        }
    }
    &.folded {
        .filter-groups {
            margin-top: -100%;
            &-container {
                margin-top: 0;
            }
        }
        .chevron-down {
            transform: rotate(180deg);
        }
    }

    .search {
        display: flex;
        gap: 8px;
        align-items: center;
        > .icon {
            width: 28px;
            height: 28px;
            color: $text-colour-muted;
            cursor: pointer;
            padding: 4px;
            transition: 200ms ease all;
            &.trash:hover {
                color: $invalid;
            }
            &.chevron-down:hover {
                color: $text-colour;
            }
        }
        .search-text-field {
            width: 100%;
        }
    }
}

@include grid-area(search, search);
@include grid-area(filter-group--results, count);
@include grid-area(filter-group--ratios, ratio);
@include grid-area(filter-group--tags, tags);
@include grid-area(filter-group--resolutions, resolutions);
@include grid-area(filter-group--game-modes, game-modes);
@include grid-area(filter-group--sort, order);
@include grid-area(filter-group--release-date, date);

.filter-group {
    display: flex;
    flex-direction: column;
    gap: inherit;

    &__header {
        color: $accent-blue;
        font-weight: 700;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: inherit;
        &--row {
            // flip direction from default column to row
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
    &--release-date {
        .filter-group__items {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            align-items: center;
        }
        .date-seperator {
            color: $accent-blue;
        }
        .date-input-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $text-colour-muted;
            font-size: 12px;
            input {
                width: 100%;
            }
        }
    }
}

// tag pill items in various filter groups
.filter-tag {
    text-transform: capitalize;
    font-size: 14px;
    background-color: $filter-tags;
    border-radius: $radius;
    padding: 4px 6px;
    font-weight: 600;
    width: max-content;
    cursor: pointer;
    user-select: none;
    transition: 200ms ease all;
    &.include {
        background-color: $accent-blue;
        &:hover {
            filter: unset;
        }
    }
    &.exclude {
        background-color: $invalid;
        &:hover {
            filter: unset;
        }
    }
    &:hover {
        filter: brightness(1.2);
    }
}

// game mode selection items
.filter-game-mode {
    display: flex;
    align-items: center;
    gap: inherit;
    font-size: 16px;
    color: $text-colour-muted;
    cursor: pointer;
    .icon {
        width: 24px;
        height: 24px;
    }
    &:hover {
        color: $text-colour;
    }
    &.include {
        color: $accent-blue;
    }
}

@media (max-width: 600px) {
    .filters .filter-groups {
        grid-template-areas:
            "date"
            "order"
            "tags"
            "ratio"
            "resolutions"
            "game-modes"
            "count";
        grid-template-columns: unset;
    }
}
