@mixin text-dark {
    color: $text-colour-dark;
    &:hover {
        color: $text-colour-dark;
    }
}

.role {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 16px;
    background-color: $button-grey;
    border-radius: 100px;
    white-space: nowrap;
    color: $text-colour;
    &[href]:hover {
        transition: 300ms ease all;
        filter: brightness(1.3);
    }

    // compendium
    &--admin {
        background: $administrator;
    }
    &--helper {
        background: $helper;
    }
    &--ex-helper {
        // no custom color
    }
    // skinship
    &--skinship {
        background: $skinship-staff;
    }
    // regular contests
    &--contest-winner {
        @include text-dark;
        background: $contest-winner;
    }
    &--contest-second {
        @include text-dark;
        background: $contest-second;
    }
    &--contest-third {
        @include text-dark;
        background: $contest-third;
    }
    // soty
    &--soty-winner {
        @include text-dark;
        background: $soty-winner;
    }
    &--soty-second {
        @include text-dark;
        background: $soty-second;
    }
    &--soty-third {
        @include text-dark;
        background: $soty-third;
    }
    &--soty-top-10 {
        @include text-dark;
        background: $soty-top10;
    }
}
