.skin-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $primary;
    border-radius: $radius;
    box-shadow: $shadow;
    transition: 250ms ease all;
    position: relative;
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 200;
    }
    &__cover {
        display: flex;
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        &-versions {
            display: flex;
            align-items: center;
            position: absolute;
            right: 16px;
            top: 16px;
            color: $text-colour;
            background-color: lighten($primary, 5%);
            padding: 8px;
            border-radius: $radius;
            box-shadow: $shadow;
            z-index: 1;
            .icon {
                width: 16px;
                height: 16px;
            }
            .version-count {
                margin: 0px 4px;
                font-size: 14px;
                font-weight: 700;
            }
        }
        img {
            object-fit: cover;
            width: 100%;
            border-radius: $radius $radius 0px 0px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__information {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px;
        &-row {
            display: flex;
            gap: 3px;
            align-items: center;
        }
        .skin-name {
            color: $text-colour;
            font-size: 16px;
            font-weight: 700;
        }
        .game-modes {
            display: flex;
            align-items: center;
            gap: 4px;
            .icon {
                width: 20px;
                height: 20px;
                color: $text-colour;
                &.standard {
                    order: 1;
                }
                &.taiko {
                    order: 2;
                }
                &.catch {
                    order: 3;
                }
                &.mania {
                    order: 4;
                }
            }
        }
        .author {
            font-size: 12px;
            color: $text-colour;
        }
        .information-seperator {
            background-color: $divider;
            border-radius: 10px;
            width: 2px;
            height: 14px;
            margin: 4px 0px;
        }
        .resolution {
            color: $text-colour;
            padding: 3px 4px;
            background-color: $divider;
            border-radius: $radius;
            font-size: 9px;
            font-weight: 700;
            line-height: 12px;
        }
    }
    &__tags-list-container {
        overflow: hidden;
        position: absolute;
        top: 100%;
        background: inherit;
        border-radius: 0 0 $radius $radius;
        width: 100%;
    }
    .tags-list {
        padding: 8px;
        margin-top: -100%;
        transition: ease all 250ms;
        .tags {
            padding: 4px;
        }
    }
    &:hover {
        border-radius: $radius $radius 0 0;
        box-shadow: $shadow-hover;
        background-color: $primary-hover;
        overflow: visible;
        .tags-list {
            margin-top: 0;
        }
    }
    &--deleted{
        padding: 16px;
        text-align: center;
        justify-content: center;
        cursor: not-allowed;
        &:hover{
            background-color: $primary;
        }
    }
}

// this will break if any page shows more than 50 skins or skin-grids, however that seems unlikely
@for $i from 1 through 150 {
    .skin-grid:nth-child(#{$i}) {
        z-index: calc(160 - #{$i});
    }
}
@for $i from 1 through 150 {
    .skin-item:nth-child(#{$i}) {
        z-index: calc(160 - #{$i});
    }
}
