.user {
    --user-gap: 8px;
    display: flex;
    width: max-content;
    align-items: center;
    gap: var(--user-gap);

    &__avatar-wrapper {
        display: flex;
    }
    &__avatar {
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.1);
    }
    &__information {
        display: flex;
        flex-direction: column;
        height: max-content;
        gap: var(--user-gap);
    }
    &__username {
        font-weight: 700;
        width: max-content;
    }
    &__roles {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--user-gap) / 2);
        &:empty{
            display: none;
        }
    }
    &--small {
        .user__avatar {
            width: 40px;
            height: 40px;
        }
        .user__username {
            font-size: 16px;
        }
    }
    &--regular {
        .user__avatar {
            width: 48px;
            height: 48px;
        }
        .user__username {
            font-size: 20px;
        }
    }
    &--big {
        .user__avatar {
            width: 72px;
            height: 72px;
        }
        .user__username {
            font-size: 24px;
        }
    }
}
