.variant-input {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border-radius: $radius;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid $divider;
        border-radius: inherit;
        input {
            min-width: 300px;
        }
    }
    &__body {
        display: none; // grid if item is expanded
        padding: 8px;
        gap: 8px;
        grid-template-areas: "imgur images" "textarea images";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: max-content 1fr;
        @include grid-area(variant-input__image-grid, images);
        @include grid-area(input-group--images-textarea, textarea);
        @include grid-area(input-group--imgur, imgur);
        .input-group--images-textarea,
        .input-group__elements,
        textarea {
            height: 100%;
        }
    }
    &__icon-container {
        display: flex;
        align-items: center;
        .icon {
            color: $text-colour-muted;
            width: 28px;
            height: 28px;
            padding: 4px;
            cursor: pointer;
            &:hover {
                color: $text-colour;
            }
        }
        .chevron-right {
            rotate: 90deg;
            transition: ease 250ms all;
        }
    }
    &__image-grid {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
        .ratio-16-9__container {
            background-position: center;
            background-size: contain;
            border-radius: $radius;
            overflow: hidden;
        }
    }
    &--expanded {
        .chevron-right {
            rotate: -90deg;
        }
        .variant-input__body {
            display: grid;
        }
    }
    &--add-new {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 4px;
        color: $text-colour-muted;
        transition: ease 250ms all;
        padding: 8px;
        &:hover {
            filter: brightness(1.2);
            color: $text-colour;
        }
        .icon {
            width: 24px;
            height: 24px;
        }
    }
}
